<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="contenido">
  <!-- Filtro de precios -->
  <div class="price-filter">
     <div class="price-range">
  <!--   <span class="input-icon"><i class="fa-solid fa-dollar-sign"></i></span>-->
      <input type="number" id="preciomin" [(ngModel)]="preciomin" placeholder="Precio mínimo" />
      <span class="separator">-</span>
     <!--   <span class="input-icon"><i class="fa-solid fa-dollar-sign"></i></span>-->
      <input type="number" id="preciomax" [(ngModel)]="preciomax" placeholder="Precio máximo" />
    </div>
    <button (click)="filtraprecio()">Filtrar</button>
  </div>

  <!-- Tarjetas -->
  <div class="card-container">
    <div class="card" *ngFor="let producto of productosPaginados">
      <a href="javascript:void(0)" (click)="modal(producto)">
        <img src="assets/{{producto.imagen_nombre}}" alt="Joya 1">
        <p>{{producto.nombre}}</p>
        <p>${{producto.precio}} MXN</p>
      </a>
      <a href="javascript:void(0)" class="add-cart" (click)="agregaCarrito(producto.id)">
          <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="text">Agregar al Carrito</span>
      </a>
        
    </div>
  </div>

    <!-- Modal -->
<div class="modal" [ngClass]="{'open': mostrarModal}">
  <div class="modal-content">
    <div class="imagen-description">
    <img src="assets/{{producto?.imagen_nombre}}" alt="Imagen del producto" class="zoomable"
  [ngClass]="{ 'zoomed': zoomActivo }"
  />
    <p><strong>Descripcion:</strong> {{ producto?.descripcion }}</p>
    </div>
    <div>
      <h3><strong>{{producto?.nombre }}</strong></h3>
        <ul>
            <p>Precio: ${{ producto?.precio }} MXN</p>
            <p><strong>Acerca de este producto</strong></p>
            <li>Tipo: {{ producto?.tipo }}</li>
            <li>Material: {{ producto?.material }}</li>

        <a href="javascript:void(0)" class="add-cart-modal" (click)="agregaCarrito(producto?.id)">
          <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="text">Agregar al Carrito</span>
       </a>
        </ul>
      <a href="javascript:void(0)" class="close" (click)="cerrarModal()">
          <span class="icon-close"><i class="fa-solid fa-xmark"></i></span></a>
    </div>
  </div>
</div>




<!-- Paginación -->
<div class="pagination">
  <button (click)="irPagina(paginaActual - 1)" [disabled]="paginaActual === 1">Anterior</button>

  <button 
    *ngFor="let page of paginas" 
    class="page-num" 
    [ngClass]="{'active': paginaActual === page}"
    (click)="irPagina(page)">
    {{ page }}
  </button>

  <button (click)="irPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
</div>
