<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
<header>
    <div class="header-content">
    <div class="imagen-logo-container">
        <img class="imagen-logo" src="assets/luna.jpg" alt="Luna" />
    </div>
    <h1>Joyería Luna</h1> 
</div>
    <nav>
      <a href="/home"><span class="icon"><i class="fas fa-house"></i></span>
        <span class="text">Inicio</span>
      </a>
      <a href="/home/producto"><span class="icon"><i class="fas fa-list"></i></span>
        <span class="text">Catálogo</span>
      </a>
      <a href="/home/compra"><span class="icon"><i class="fas fa-phone"></i></span>
        <span class="text">Contacto</span>
      </a>
    </nav>
</header>
</body>