:root {
  --cremita: #F5E3C9;
  --negro: #000000;
  --rosa: #FDC5C9;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  background-color: #F5E3C9;
  color: #000000;
}

footer {
  background-color: #FDC5C9;
  color: #000000;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
/*  position: relative; /* En lugar de absolute/fixed */
  width: 100%;
 /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
 /* opacity: 0;*/
 /* transform: translateY(20px); /* Pequeña animación */
}

footer.show {
  opacity: 1;
  transform: translateY(0);
}

.information .Sociales {
  display: flex;
  gap: 15px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  font-size: 1.125rem; 
}

.information li,
.Sociales li {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  color: v#000000;
}

.Sociales a {
  color: #000000;
  text-decoration: none; 
}

footer p {
  margin: 10px 0;
}

.icon {
  text-align: center;
  font-size: 0.9375rem; 
  margin-right: 10px;
}
