<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
    <footer>
        &copy; 2025 Joyería Luna - Todos los derechos reservados

        <div class="information">
            <ul>
                <li><a href="javascript:void();">Política de Privacidad</a></li>
                <li><a href="javascript:void();">Términos y Condiciones</a></li>
                <li><a href="javascript:void();">Contacto</a></li>
            </ul>
        </div>
        
        <p>Contacto:<strong> contacto@joyerialuna.com | Tel: (123) 456-7890</strong></p>
        <p>Horario de Atención:<strong> Lunes a Viernes: 9:00 AM - 6:00 PM</strong></p>
        <p>Visitanos en nuestras Redes Sociales</p>

        <div class="Sociales">
            <ul>
                <li><a href="javascript:void();"><span class="icon"><i class="fa-brands fa-facebook"></i></span>
                    <span class="text">Facebook</span></a>
                </li>
                <li><a href="javascript:void();"><span class="icon"><i class="fa-brands fa-instagram"></i></span>
                    <span class="text">Instagram</span></a>
                </li>
                <li><a href="javascript:void();"><span class="icon"><i class="fa-brands fa-twitter"></i></span>
                    <span class="text">Twiter</span></a>
                </li>
            </ul>
        </div>

    </footer>    
</body>
